<!-- Content -->
<section id="content">
    <div class="container">
        <div class="row aln-center">
            <!-- Box #1 -->
            <div class="col-4 col-12-medium">
                <section>
                    <header>
                        <h2>Who We Are</h2>
                        <h3>A subheading about who we are</h3>
                    </header>
                    <a href="#" class="feature-image"><img src="css/images/pic05.jpg" alt="" /></a>
                    <p>
                        Duis neque nisi, dapibus sed mattis quis, rutrum accumsan magna sed.
                        Suspendisse eu varius nibh. Suspendisse vitae magna eget odio amet mollis
                        justo facilisis quis. Sed sagittis amet lorem ipsum.
                    </p>
                </section>
            </div>
            <!-- Box #2 -->
            <div class="col-4 col-6-medium col-12-small">
                <section>
                    <header>
                        <h2>What We Do</h2>
                        <h3>A subheading about what we do</h3>
                    </header>
                    <ul class="check-list">
                        <li>Sed mattis quis rutrum accum</li>
                        <li>Eu varius nibh suspendisse lorem</li>
                        <li>Magna eget odio amet mollis justo</li>
                        <li>Facilisis quis sagittis mauris</li>
                        <li>Amet tellus gravida lorem ipsum</li>
                    </ul>
                </section>
            </div>
            <!-- Box #3 -->
            <div class="col-4 col-6-medium col-12-small">
                <section>
                    <header>
                        <h2>What People Are Saying</h2>
                        <h3>And a final subheading about our clients</h3>
                    </header>
                    <ul class="quote-list">
                        <li>
                            <img src="css/images/pic06.jpg" alt="" />
                            <p>"Neque nisidapibus mattis"</p>
                            <span>Jane Doe, CEO of UntitledCorp</span>
                        </li>
                        <li>
                            <img src="css/images/pic07.jpg" alt="" />
                            <p>"Lorem ipsum consequat!"</p>
                            <span>John Doe, President of FakeBiz</span>
                        </li>
                        <li>
                            <img src="css/images/pic08.jpg" alt="" />
                            <p>"Magna veroeros amet tempus"</p>
                            <span>Mary Smith, CFO of UntitledBiz</span>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</section>
