<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-8 col-12-medium">
                <!-- Links -->
                <section>
                    <h2>Links to Important Stuff</h2>
                    <!-- Add content for Links here -->
                </section>
            </div>
            <div class="col-4 col-12-medium imp-medium">
                <!-- Blurb -->
                <section>
                    <h2>An Informative Text Blurb</h2>
                    <!-- Add content for the Blurb here -->
                </section>
            </div>
        </div>
    </div>
</section>
