<!-- Header -->
<section id="header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Logo -->
                <h1><a href="index.html" id="logo">BrimLoft</a></h1>
                <!-- Nav -->
                <nav id="nav">
                    <a href="index.html">Homepage</a>
                    <a href="threecolumn.html">Three Column</a>
                    <a href="twocolumn1.html">Two Column #1</a>
                    <a href="twocolumn2.html">Two Column #2</a>
                    <a href="onecolumn.html">One Column</a>
                </nav>
            </div>
        </div>
    </div>
</section>
