{{!-- Footer Partial --}}
<footer class="footer">
    <div class="container">
        <div class="row">
            <!-- About Section -->
            <div class="col">
                <h5>About BrimLoft</h5>
                <ul>
                    <li><a href="/about">Our Story</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="/careers">Careers</a></li>
                </ul>
            </div>
            
            <!-- Customer Service Section -->
            <div class="col">
                <h5>Customer Service</h5>
                <ul>
                    <li><a href="/support">Help & Support</a></li>
                    <li><a href="/shipping">Shipping Information</a></li>
                    <li><a href="/returns">Returns & Exchanges</a></li>
                </ul>
            </div>
            
            <!-- Legal Section -->
            <div class="col">
                <h5>Legal</h5>
                <ul>
                    <li><a href="/terms">Terms of Use</a></li>
                    <li><a href="/privacy">Privacy Policy</a></li>
                </ul>
            </div>
            
            <!-- Social Media Section -->
            <div class="col">
                <h5>Follow Us</h5>
                <ul class="social-media-links">
                    <li><a href="http://twitter.com/BrimLoft">Twitter</a></li>
                    <li><a href="http://facebook.com/BrimLoft">Facebook</a></li>
                    <li><a href="http://instagram.com/BrimLoft">Instagram</a></li>
                </ul>
            </div>
        </div>
        
        <!-- Copywrite Section -->
        <div class="copywrite text-center">
            <p>&copy; {{currentYear}} BrimLoft, Inc. All rights reserved.</p>
        </div>
    </div>
</footer>
<script src="/js/footer.js"></script> <!-- If you have any specific footer JS -->
