{{!-- Lists all available leagues --}}
<h1>Leagues</h1>
<div class="league-list">
  {{#each leagues}}
    <div class="league">
      <h3><a href="/league/{{this.id}}">{{this.name}}</a></h3>
    </div>
  {{/each}}
</div>

