{{!-- Displays a list of all tags for filtering purposes --}}
<h1>Tags</h1>
<div class="tags-list">
  {{#each tags}}
    <span class="tag">
      <a href="/tags/{{this.id}}">{{this.name}}</a>
    </span>
  {{/each}}
</div>
