{{!-- Displays details for a specific team, including products associated with the team and league information --}}
<h2>{{team.name}}</h2>
<div class="team-details">
  <p>League: {{team.League.name}}</p>
  <div class="products-of-team">
    <h3>Products</h3>
    {{#each team.Products}}
      <div class="product">
        <h4><a href="/product/{{this.id}}">{{this.name}}</a></h4>
        <!-- Add more product details like image, description, price -->
      </div>
    {{/each}}
  </div>
</div>
