header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4e4d4d;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
  padding: 10px;
}

nav a:hover {
  color: #ffcc00;
}

ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  margin: 1;
  padding-inline-start: 40px;
}

.cart-button,
.profile-button {
    margin-left: 20px;
    padding: 8px 15px;
    border: none;
    background-color: #ffcc00;
    color: #333;
    font-weight: bold;
    cursor: pointer;
}

.cart-button:hover,
.profile-button:hover {
  background-color: blue;
  color: white;
}


footer{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  background-color: #4e4d4d;
  color: white;
}

header {
  background-color: #706f6f;
  color: white;
  padding: 1em;
  text-align: center;
}

header a {
  color: white;
  text-decoration: none;
}

header img {
  width: 80px;
  height: 80px;
}

/* accordion stylings */


